.idea/
.tox/
dist/
build/build
build/
build/dist
dist
__pycache__
build/__pycache__
logs

src/PlantEd/build/
src/PlantEd/dist/
src/PlantEd/client/build
src/PlantEd/client/dist

src/PlantEd/data/finished_games/

src/PlantEd/client/data/finished_games/
src/PlantEd.egg-info/
src/PlantEd.egg-info/dependency_links.txt
src/PlantEd.egg-info/entry_points.txt
src/PlantEd.egg-info/requires.txt
src/PlantEd.egg-info/SOURCES.txt
src/PlantEd.egg-info/top_level.txt

src/PlantEd/server/server.err

src/PlantEd/server/CrashNBurn_run1.csv

src/PlantEd/server/server.log

src/PlantEd/server/data/

src/PlantEd/server/log

src/PlantEd/client/plots/
src/PlantEd.egg-info/dependency_links.txt
src/PlantEd.egg-info/entry_points.txt
src/PlantEd.egg-info/SOURCES.txt
src/PlantEd.egg-info/SOURCES.txt
src/PlantEd/planted.zip
src/PlantEd/planted/PlantEd/_internal/
src/PlantEd/Planted_Schule.zip
